<div class="container shadow p-3 mb-5 bg-white rounded">
  <h3>Shipping Prices</h3>
  <div class="card shipping-item" *ngFor="let shipping of shippingCosts | async">
    <div class="card-body">
      <h5 class="card-title">
        {{ shipping.type }}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ shipping.price | currency }}
      </h6>
       <p class="card-text">
         {{shipping.description}}
       </p>
    </div>
  </div>
  <button class="btn btn-outline-warning inline-block" routerLink="/cart">
    Back to the cart
  </button>
</div>
