.h2 {
  padding: 20px;
}

.image-prop {
  height: auto;
  width: auto;
  max-height: 400px;
  // -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  // -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  // box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.h3mine {
  padding: 20px;

  a {

    color: #303030FF;
    text-decoration: none;
  }


}

.justify-content-center {
  padding: 20px;

  button {
    margin: 20px;
    width: 140px;
    height: 50px;
    // this margin added also to alert component so it is for both buttons
  }
}

.col-8{
  p{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
  


  }
}
